body{
    background-color: color-mix(in hsl shorter hue, grey 40%, white 20%);
}

form{
  background-color: white;
  min-height: 335px;
  width: 240px;
  box-shadow: 0 0 10px black;
  border: none;
  justify-content: center;
  border-radius: 5px;
  margin-top: 100px;
  animation: appear 2s ease;
}
@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.Username{
  position: relative;
    left: 5px;
    border:  gray solid 1px;
    border-top: none;
border-left: none;
border-right: none;
    top: 15px;
}
#envelope{
  color: gray;
  position: relative;
  right: 27px;
  font-size: 12px;
  top: 15px;
}
#lock{
  position: relative;
    right: 27px;
    font-size: 12px;
      top:44px;
        color: gray;
}
button{
  overflow: hidden;
  position: relative;
  top: 64px;
  min-height: 30px;
  border: none;
  background-color: rgb(24, 167, 24);
  color: white;
  border-radius: 5px;
  width: 180px;
      right: 4px;
}
.password{
  position: relative;
border: gray 1px solid;
border-top: none;
border-left: none;
border-right: none;
    left: 7px;
    top: 45px;
}

p{
  color: red;
  font-weight: bold;
    padding: 17px;
  font-size: 20px;
}
#user{
  position: relative;
  top: 50px;
  right: 140px;
}
#arrow{
  position: relative;
  padding: 0 654px;
  cursor: pointer;
}
label{
  right: 54px;
  color: black;
  position: relative;
}
.line{
  border: 1px solid whitesmoke;
  width: auto;
  position: relative;
  bottom: 17px;
}

button.fill::before {
  width: 100%;
}
button span {
  position: relative;
  z-index: 1;
}
button:hover{
    background-color: rgb(87, 84, 84);
     transition: 0.4s  ease;
}
button:active{
    background-color: rgb(218, 163, 62);
    transition: ease-in-out;

}